* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

 :root {
    --primary-color: #93FFD8;
    --secondary-color: #548CFF;
    --tertiary-color: #7900FF;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--secondary-color);
    height: 50px;
    width: 100%;
}

.logo-container {
    color: var(--tertiary-color);
    margin: 10px 30px;
}

nav div {
    margin: 15px 30px;
}

.nav-menu-container li {
    display: inline;
    font-weight: bolder;
    list-style: none;
    text-decoration: none;
    margin-right: 30px;
}

.nav-menu-container li a {
    text-decoration: none;
    color: var(--tertiary-color);
}

.hero-title {
    color: white;
    float: right;
    margin-top: 10%;
    margin-right: 10%;
    background-color: var(--secondary-color);
    width: fit-content;
    padding: 15px 50px;
}

.aboutMe img {
    margin-right: 25px;
    border-radius: 300px;
}

.aboutMe {
    display: flex;
    margin-left: 88px;
}

.myBio {
    margin: 25px 250px 25px 250px;
    display: flex;
}

.myBio h1 {
    text-align: left;
    margin-top: 100px;
}

.aboutMe p {
    float: right;
    margin: 25px 50px 25px 0px;
    color: var(--tertiary-color);
    text-align: left;
}

.aboutMe-header {
    color: var(--tertiary-color);
    display: flex;
    text-align: right;
    padding-right: 25px;
    margin-top: 25px;
    border-right: 3px solid var(--primary-color);
}

.no-wrap {
    margin-left: 20px;
    margin-top: 25px;
    display: flex;
    flex-wrap: nowrap;
}

.proj-row-1 {
    height: 70vh;
    width: 96.5%;
    margin-left: 45px;
    padding-left: 50px;
    border: 3px solid var(--secondary-color);
    border-radius: 50px;
}

.proj-row-2 {
    height: 30vh;
    width: 35vw;
    margin-left: 25px;
    border: 3px solid var(--secondary-color);
    border-radius: 50px;
}

.proj-link {
    text-decoration: none;
    position: absolute;
    font-size: 25px;
    margin-top: 120px;
    width: 10%;
    background-color: #93FFD8;
    border-top-right-radius: 35px;
    opacity: 0.6;
}

.banner {
    background: url(./images/banner.jpg) center;
    width: 100%;
    height: 300px;
    background-size: 100%;
}

.work-1 {
    background: url(./images/work-1.jpg) center;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.work-2 {
    background: url(./images/work-2.jpg) center;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.work-3 {
    background: url(./images/work-3.jpg) center;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.work-4 {
    background: url(./images/work-4.jpg) center;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.work-5 {
    background: url(./images/work-5.jpg) center;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.project-header {
    padding-right: 25px;
    margin-left: 80px;
    color: var(--tertiary-color);
    border-right: 3px solid var(--primary-color);
}

.work-link {
    text-decoration: none;
    position: absolute;
    font-size: 25px;
    margin-top: 20%;
    width: 10%;
    background-color: #93FFD8;
    border-top-right-radius: 35px;
    opacity: 0.6;
}

footer {
    display: flex;
}

.footer-header {
    color: var(--tertiary-color);
    width: 150px;
    text-align: right;
    padding-right: 40px;
    margin-left: 38px;
    margin-top: 25px;
    border-right: 3px solid var(--primary-color);
}

.footer-contacts {
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
    justify-content: space-between;
    margin: 25px 10px 25px 10px;
    color: var(--tertiary-color);
    padding-left: 15px;
}

footer a {
    flex-wrap: nowrap;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    margin: 25px 25px 25px 25px;
    color: var(--tertiary-color);
    border-bottom: 3px solid var(--tertiary-color);
    padding: 0px;
}
/* HOVER */

.work:hover {
    border: 5px solid var(--tertiary-color);
    border-radius: 50px;
}
/* MEDIA QUERIES */
/* 1200px */

@media screen and (max-width: 1200px) {
    .myBio {
        margin: 25px 100px 25px 100px;
    }
    .proj-row-1 {
        width: 95%;
    }
    .proj-row-2 {
        width: 35vw;
    }
    .hero-title {
        margin-top: 18%;
    }
}
/* 980px */

@media screen and (max-width: 980px) {
    .aboutMe {
        flex-direction: column;
        margin: 0%;
        text-align: center;
    }
    .hero-title {
        margin-top: 20%;
    }
    .aboutMe-header {
        flex-direction: column;
        text-align: center;
        border: none;
        padding: 0px;
    }
    .myBio {
        margin: 25px 0px 25px 25pxpx;
        display: flex;
    }
    .myBio h1 {
        margin-top: 60px;
    }
    .project-header {
        border: none;
        text-align: center;
        padding: 0px;
        margin: 10px;
    }
    .proj-link {
        width: 15%;
    }
    .myWork {
        flex-direction: column;
    }
    .flex {
        display: flex;
        flex-wrap: nowrap;
    }
    .proj-row-1 {
        width: 90%;
    }
    .proj-row-2 {
        width: 44.7%;
    }
    footer {
        flex-direction: column;
    }
    .footer-header {
        border: none;
        width: 50vw;
        /* width: 50vw; */
        padding: 0px;
    }
    .footer-contacts {
        margin-top: 0px;
        width: 100vw;
        justify-content: center;
    }
}
/* 768px */

@media only screen and (max-width: 768px) {
    .logo-container {
        margin: 10px 80px;
    }
    .myBio {
        flex-direction: column;
        border: none;
        width: 75%;
        text-align: center;
    }
    .myBio h1 {
        margin-top: 0px;
        text-align: center;
    }
    .aboutMe {
        margin: 0px;
    }
    .aboutMe img {
        margin-right: 0px;
        margin-left: 30%;
        width: 40%;
    }
    .aboutMe p {
        float: right;
        margin: 25px 0px 25px 0px;
        color: var(--tertiary-color);
        text-align: center;
    }
    .aboutMe-header {
        flex-direction: column;
        border: none;
        text-align: center;
    }
    .project-header {
        flex: none;
        justify-content: center;
    }
    .proj-row-1 {
        height: 45vh;
        width: 90%;
    }
    .myWork {
        flex-direction: column;
        margin: 0;
    }
    .work {
        border: 3px solid var(--secondary-color);
        border-radius: 50px;
    }
    .nav-menu-container li {
        margin-right: 5px;
    }
    nav {
        flex-direction: column;
    }
    .hero-title {
        margin: 200px 50px 10px 50px;
    }
    footer {
        flex-direction: column;
    }
    .footer-contacts {
        width: fit-content;
        border: none;
        margin: 0;
        padding: 0;
        padding-left: 5px;
        width: 95%;
    }
    footer p {
        margin: 25px 5px 5px 25px;
    }
    .footer-header {
        border: none;
        width: 100%;
        padding: 0px;
        margin-bottom: 5px;
        margin: 0px;
        text-align: center
    }
}
/* 575px */

@media screen and (max-width: 575px) {
    .logo-container {
        margin: 10px 20px;
    }
    .myBio {
        flex-direction: column;
        border: none;
        width: 400px;
        text-align: center;
    }
    .myBio h1 {
        margin-top: 0px;
        text-align: center;
    }
    .aboutMe {
        width: fit-content;
    }
    .aboutMe img {
        margin-right: 0px;
    }
    .aboutMe p {
        float: right;
        margin: 25px 0px 25px 0px;
        color: var(--tertiary-color);
        text-align: center;
    }
    .project-header {
        border: none;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
    }
    .proj-row-1 {
        height: 50vh;
        width: 86%;
    }
    .proj-row-2 {
        margin-top: 10px;
        height: 25vh;
        width: 90%;
    }
    .proj-link {
        width: 25%;
    }
    .myWork {
        flex-direction: column;
        margin: 0;
    }
    .myBio img {
        width: 350px;
        height: 350px;
        margin-left: 25px;
    }
    .work {
        border: none;
    }
    .hero-title {
        margin: 230px 10px 10px 50px;
    }
    footer {
        flex-direction: column;
    }
    .work {
        border: 3px solid var(--secondary-color);
        border-radius: 50px;
    }
}
